* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: #aaa;
}
::-moz-selection {
  background-color: #aaa;
}

.gradient {
  background-color: red;
  background-image: linear-gradient(
    to bottom right,
    #c22, #c07
  );
  background-repeat: no-repeat;
  color: #fee;
}

h1, h2, h3 {
  font-family: 'Libre Franklin', sans-serif;
  line-height: 1.5em;
}
h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
h2 {
  font-size: 2rem;
  font-weight: 700;
}
h3 {
  font-size: 1.5rem;
  font-weight: 300;
}

header, section {
  display: block;
  width: 100%;
  padding: 5rem;
}

article {
  display: inline-block;
  width: 45%;
  height: 18rem;
  vertical-align: top;
  padding: 1rem;
  margin: 2.7% 2% 0 0;
  background: rgba(0, 0, 0, .25);
}
