* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* #237 dark blue, #040404 dark gray/black, #333 gray*/

body {
  background: #fbfbfb;
}

header {
  margin: auto;
  padding: 30vh 1.5rem 1rem 1.5rem;
  text-align: center;
}

h1 {
  font-weight: 300;
  font-size: 3rem;
  color: #040404;
}

section {
	width: 400rem;
	margin: auto;
}

p {
  line-height: 140%;
  color: #333;
  margin: .5rem 0;
}

a {
  color: #237;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
}