* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header {
    width: 100%;
    background: linear-gradient(0deg, #237, #23a);
    -webkit-clip-path: clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
    height: 19rem;
    padding-top: 2rem;
    text-align: center;
}

#logo {
    height: 15rem;
}

nav, section {
    width: 85%;
    margin: auto;
}

a, p {
    font-family: Georgia, serif;
    line-height: 150%;
    font-size: 1.15rem;
    margin: .5rem 0;
    color: #333;
}

nav {
    text-align: center;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    margin: 2rem auto .5rem;
}

nav li {
    list-style: none;
    display: inline-block;
}

nav a {
    display: block;
    padding: .75rem 1rem;
    margin: 0;
    color: #237;
    text-decoration: none;
    font-weight: bold;
    transition: .2s;
}

nav a:hover {
    color: #24c;
    background: #efefef;
}

.half {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    padding: .5rem 0;
}

section {
    padding-bottom: 2rem;
}

img {
    max-width: 100%;
}

@media (min-width: 600px) {
    header {
        height: 24rem;
    }

    #logo {
        height: 20rem;
    }

    nav, section {
        width: 37rem;
    }

    nav {
        margin-top: 3rem;
    }

    header {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%, 0 0);
        clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%, 0 0);
    }

    .half {
        width: 49%;
        padding: 1rem;
    }
}