<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Katherine Huang</title>
        <meta name="description" content="Katherine Huang is an MIT first-year from Lowell, Massachusetts, studying Data Science and Anthropology. She founded Science and Us, an organization helping youth find a place for STEM in their lives.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="{{ '/css/styles.css' | prepend:site.url }}">
    </head>
    
    <body>
        <div id="container">
            {{ content }}
        </div>
    </body>
</html>